[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
exif = "*"
requests = "*"
pyyaml = "*"
flask = "*"
bottle = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
